*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    /* Set Default Font Face */
}

body {
    text-align: left;
    font-weight: normal;
    color: #333;
    font-size: 14px;
    background: #fff;
    line-height: 1.5em;
}

a,
a:link {
    color: red;
    text-decoration: underline;
    outline: 0;
    display: block;
}

a:hover,
a:active {
    text-decoration: none;
}

.clearfix {
    clear: both;
    height: 0px;
    width: 100%;
    content: '';
    background-color: transparent;
}

.clearfix:before,
.clearfix:after {
    clear: both;
}

#pageWrapper {
    margin: 0;
    padding: 0;
}

.pc {
    display: block;
}

.sp {
    display: none;
}

.contentWidth {
    width: 1080px;
}

.mainContentWidth {
    width: 690px;
}

.clearFloat {
    clear: both;
    overflow: hidden;
}

section,
nav#topNavWrapper {
    width: 1080px;
    margin: 0 auto;
    padding: 0 10px;
}


/* Header
   ========================================================================== */

header#headerWrapper {
    display: block;
    width: 100%;
    border-bottom: 1px solid #4d4d4d;
}

#header {
    width: 1080px;
    margin: 0 auto;
}


/* Top Navigation
   ========================================================================== */

ul#topNav {
    margin: 0 auto;
    text-transform: uppercase;
    width: 690px;
    list-style: none;
    overflow: hidden;
    line-height: 0;
    padding: 15px 0;
}

ul#topNav li {
    display: block;
    float: left;
}

ul#topNav li a {
    text-decoration: none;
    color: #4d4d4d;
    height: 83px;
    padding: 0 36px;
    font-size: 15px;
    display: table;
    line-height: 1em;
}

ul#topNav li a h1 {
    display: block;
    margin: 0;
}

ul#topNav li a span {
    vertical-align: middle;
    display: table-cell;
}

ul#topNav li a img {
    display: block;
}


/*Search Content......................*/

.contentSearch {
    display: block;
    overflow: hidden;
    margin-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #4d4d4d;
}

.searchTitleBlock {
    float: left;
    width: 524px;
    margin-top: 72px;
}

.searchTitle {
    display: block;
    width: 402px;
    margin: 0 auto;
    line-height: 0;
}

.searchTitle img {
    width: 402px;
}

.searchTitle p,
.recTitle p,
.rankTitle p {
    margin-top: 16px;
    text-align: center;
    line-height: 1em;
    font-size: 17px;
    color: #4d4d4d;
    font-weight: bold;
}

.rankTitle h2 {
    display: block;
    font-size: 14px;
}

.locationIcon,
.recommendIcon,
.rankingIcon {
    width: 120px;
    margin: 0 auto;
    display: block;
    padding: 51px 0px 52px 0px;
}

.rankingOption {
    display: block;
}

.searchOption {}

select.selection {
    width: 160px;
    height: 37px;
    padding: 8px;
    margin-bottom: 24px;
    margin-right: 10px;
}

.searchImageBlock {
    float: right;
    width: 524px;
    line-height: 0;
}

.searchImg01 {
    width: 100%;
    height: 100%;
}


/* contentRecommend...............*/

.contentRecommend {
    padding-top: 24px;
    padding-bottom: 24px;
    overflow: hidden;
    display: block;
    border-bottom: 1px solid #4d4d4d;
}

.recommendImage {
    float: left;
    width: 523px;
}

.recImg {
    width: 164px;
    display: block;
    margin-right: 8px;
    margin-bottom: 8px;
    overflow: hidden;
    line-height: 0;
    float: left;
}

.recImg:nth-of-type(7) {
    margin-bottom: 0px;
}

.recImg:nth-of-type(8) {
    margin-bottom: 0px;
}

.recImg:nth-of-type(9) {
    margin-bottom: 0px;
}

.recImg img {
    line-height: 0;
}

.recommendTitle {
    float: right;
    width: 534px;
    margin-top: 72px;
}

.recTitle {
    width: 335px;
    margin: 0 auto;
    line-height: 0;
}

.recShopList {
    width: 226px;
    margin: 0 auto;
}

.recShopList img {
    width: 100%;
    margin: 0 auto;
}


/*.contentRanking.............*/

.contentRanking {
    padding: 24px 0px 24px 0px;
    border-bottom: 1px solid #4d4d4d;
    clear: both;
    overflow: hidden;
    display: block;
}

.rankingTitle {
    float: left;
    width: 534px;
    margin-top: 72px;
    margin-left: 10px;
}

.rankTitle {
    width: 434px;
    margin: 0 auto;
    line-height: 0;
    overflow: hidden;
    padding-top: 36px;
}

select.rankSelect {
    width: 168px;
    height: 37px;
    padding: 8px;
    margin: 0px 6px 0px 0px;
}

.select.rankSelect:nth-of-type(3) {
    margin-right: 0px;
}

.search {
    margin-top: 20px;
    display: block;
}

#searchItem {
    width: 490px;
    height: 37px;
    border: 1px solid #4d4d4d;
    padding: 10px;
    margin: 10px auto 50px;
    overflow: hidden;
    line-height: 0;
}

#searchItem,
#submit {
    float: left;
    display: inline;
    padding: 10px;
    margin: 10px auto 50px;
}


/* ----------------------- */

#submit {
    width: 8%;
    height: 37px;
    background: #4D4D4D;
    border: 1px solid #5F5F5F;
    padding: 0;
    float: left;
    color: #B3B3B3;
}

.rankingImage {
    float: right;
    width: 510px;
}

.rankImg {
    width: 164px;
    float: left;
    overflow: hidden;
    margin-left: 6px;
    margin-bottom: 16px;
    line-height: 0;
}

.rankImg:nth-of-type(3),
.rankImg:nth-of-type(6) {
    margin-right: 0px;
}

.rankImg:nth-of-type(4),
.rankImg:nth-of-type(5),
.rankImg:nth-of-type(6) {
    margin-bottom: 0px;
}


/*contentMovie*/

.contentMovie {
    overflow: hidden;
    display: block;
    border-bottom: 1px solid #4d4d4d;
    padding: 72px 0px 72px 0px;
}

.movieTitle {
    display: block;
    margin-bottom: 51px;
    width: 390px;
}

.movieTitle img {
    width: 388px;
}

.movieBlog {
    display: block;
    line-height: 0;
}

.movieBox {
    display: block;
    overflow: hidden;
    clear: both;
    margin-bottom: 24px;
    line-height: 0;
}

.movieImg {
    width: 344px;
    float: left;
    display: block;
    overflow: hidden;
}

.movieDetail {
    float: left;
    margin-left: 20px;
    width: 550px;
}

.movieDetail h3 {
    padding-top: 10px;
    padding-bottom: 24px;
}

.movieDetail p {
    font-size: 15px;
    line-height: 1.5em;
    color: #7a7a7a;
}

.movieBtn {
    width: 255px;
    line-height: 0;
}
.movieBtn img{
 width: 100%;
 line-height: 0;
}

/*...Event*/

.eventNewsWrap {
    width: 1080px;
    max-width: 1080px;
    display: block;
}

.conetnEventNewsWrap {
    overflow: hidden;
    display: block;
    padding: 51px 0px 104px 0px;
}

.eventBlog {
    float: left;
    width: 520px;
}

.enTitle {
    line-height: 0;
    display: block;
    /*width: 132px;*/
    margin-bottom: 24px;
}

.enTitle p {
    line-height: 1em;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    padding-top: 16px;
}

.enBox {
    float: left;
    display: block;
    margin-bottom: 10px;
    width: 520px;
    border-bottom: 1px dashed #4d4d4d;
}

.enImg {
    float: left;
    width: 166px;
}

.enDetail {
    float: left;
    padding-left: 10px;
}

.enDetail h3 {
    padding-bottom: 16px;
    font-size: 14px;
}

.enDetail h4 {
    padding-bottom: 20px;
    font-size: 16px;
    color: #4d4d4d;
    font-weight: bold;
}

.enDetail p {
    font-size: 14px;
}

.newsBlog {
    float: right;
    width: 520px;
}

.eventBtn {
    clear: both;
    overflow: hidden;
    line-height: 0;
    width: 217px;
    margin-top: 24px;
    float: left;
}
.eventBtn img{
    width: 100%;
}

/* Footer
   ========================================================================== */

footer#footerWrapper {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.foot {
    width: 1080px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
}

.cbox {
    display: block;
    width: 600px;
    float: right;
    line-height: 0;
    padding-right: 20px;
}

.ftmIcon {
    width: 170px;
    float: right;
}

.icon {
    width: 26px;
    height: 26px;
    text-align: center;
    border-radius: 50%;
    padding: 5px;
    float: left;
    margin: 45px 10px 0px 10px;
    color: #fff;
    background: #000;
}

.icon a {
    color: #fff;
    display: inline;
}

.toTopLogo {
    width: 120px;
    float: left;
    line-height: 0;
}

.footer {
    background: #b3b3b3;
    padding: 20px;
    clear: both;
}

.contentFooter {
    overflow: hidden;
    display: block;
    width: 1080px;
    margin: 0 auto;
    padding: 36px 0px 36px 0px;
}

.footMenu {
    float: left;
    display: block;
    margin-left: 40px;
}

ul.menuFooter {
    margin: 0 auto;
    width: 328px;
    list-style: none;
    overflow: hidden;
    line-height: 0;
}

ul.menuFooter li {
    display: block;
    float: left;
}

ul.menuFooter li a {
    text-decoration: none;
    color: #000;
    padding: 0 10px;
    font-size: 17px;
    line-height: 1em;
    display: inline;
}

.footBox {
    width: 500px;
    float: right;
}

.footBox label {
    font-size: 15px;
}

.textBox {
    width: 165px;
    border: 2px solid #fff;
    background: #b3b3b3;
    height: 28px;
    margin-left: 10px;
    padding-left: 20px;
    color: #000;
}

.copyright {
    padding: 10px 0px 10px 0px;
    overflow: hidden;
    width: 1080px;
    margin: 0 auto;
}

.lCopyright {
    float: left;
}

.rCopyright {
    float: right;
}

.rCopyright ul li {
    float: left;
    margin-left: 10px;
    margin-right: 20px;
}


/*shoplist style*/

* {
    margin: 0 auto;
}

#shopListWrapper {
    max-width: 1080px;
    width: 1080px;
    display: block;
    position: relative;
}

#shopListWrapper .navLink {
    width: 100%;
    text-align: right;
    overflow: hidden;
    margin-top: 15px;
    padding: 0px 10px;
}

#shopListWrapper .navLink ul {
    list-style-type: none;
    float: right;
}

.shopWrap {
    width: 1080px;
    margin: 0 auto;
    padding: 0px 10px;
}

#shopListWrapper .navLink ul li {
    float: left;
}

#shopListWrapper .navLink ul li:last-child:after {
    content: '';
}

#shopListWrapper .navLink a {
    color: #4d4d4d;
    text-decoration: none;
    padding: 0 5px;
    font-size: 12px;
}

#shopListWrapper .navLink a:last-child {
    padding-right: 0;
}

#shopListWrapper .headShortList {
    text-align: center;
    margin: 50px auto 50px auto;
}

#shopListWrapper .headShortList img {
    width: 537px;
}

#shopListWrapper .headShortList h1 {
    font-size: 16px;
    color: #4D4D4D;
}

#shopListWrapper h2#searchShop {
    box-sizing: border-box;
    width: 1060px;
    height: 45px;
    color: #000000;
    font-size: 22px;
    background: url(../images/pc/shoplist/search.png) no-repeat #c2c2c2;
    background-size: 68px;
    padding: 8px 0 0 100px;
    background-position: 20px 0;
}

#shopListWrapper h2#recommendShop {
    box-sizing: border-box;
    width: 1060px;
    height: 45px;
    color: #000000;
    font-size: 22px;
    background: url(../images/pc/shoplist/recommend.png) no-repeat #c2c2c2;
    background-size: 68px;
    padding: 8px 0 0 100px;
    background-position: 20px 0;
}

#shopListWrapper h2#shopList {
    box-sizing: border-box;
    width: 1060px;
    height: 45px;
    color: #000000;
    font-size: 22px;
    background: #c2c2c2;
    background-size: 68px;
    padding: 8px 0 0 30px;
    background-position: 20px 0;
}

#shopListWrapper section#searchBox {
    width: 1060px;
    margin: 0px auto 100px auto;
    padding: 0 10px;
    overflow: hidden;
    box-sizing: border-box;
}

#shopListWrapper #searchBox article.searchLeft {
    float: left;
    width: 500px;
}

#shopListWrapper h4 {
    font-weight: bold;
    font-size: 16px;
    margin: 40px 0 15px 0;
}

#shopListWrapper .searchDropdown {
    margin-top: 15px;
}

#shopListWrapper .searchLeft select {
    width: 150px;
    height: 30px;
    margin-right: 10px;
}

#shopListWrapper .searchLeft input[type="text"] {
    width: 200px;
    height: 25px;
    margin-left: 10px;
}

#shopListWrapper .searchLeft input[type="radio"] {
    border: 0px;
    width: 18px;
    height: 18px;
    background: none;
}

#shopListWrapper .searchRadio {
    margin-top: 15px;
    font-size: 14px;
}

#shopListWrapper .searchRadio input:nth-child(3),
#shopListWrapper .searchRadio input:nth-child(7) {
    margin-left: 40px;
}

#shopListWrapper .searchRadio input:nth-child(4),
#shopListWrapper .searchRadio input:nth-child(5) {
    margin-top: 5px;
}

#shopListWrapper #searchBox article.searchRight {
    float: right;
    width: 500px;
}

#shopListWrapper form.leftSearchBtn {
    margin-top: 30px;
    overflow: hidden;
}

#shopListWrapper form.leftSearchBtn i {
    color: #B3B3B3;
}

#shopListWrapper form.leftSearchBtn input[type="text"] {
    width: 200px;
    height: 50px;
    border: 1px solid #5F5F5F;
    float: left;
    margin-left: 0;
}

#shopListWrapper form.leftSearchBtn button {
    width: 54px;
    height: 50px;
    background: #4D4D4D;
    border: 1px solid #5F5F5F;
    padding: 0;
    float: left;
}

#shopListWrapper .searchSite {
    display: block;
}

#shopListWrapper .searchSite a {
    width: 144px;
    display: inline-block;
    padding: 10px 0px 10px 10px;
    background: #4D4D4D;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    margin-right: 13px;
    border-top: 1px solid #5f5f5f;
    border-bottom: 1px solid #5f5f5f;
}

#shopListWrapper .searchSite a:nth-child(3) {
    margin-right: 0;
}

#shopListWrapper .searchSite a:last-child {
    margin-top: 15px;
}

#shopListWrapper .rcmShop {
    margin: 40px auto 100px auto;
}

#shopListWrapper #recommendBox .shop {
    overflow: hidden;
    display: block;
    margin-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px dashed #4d4d4d;
}

#shopListWrapper .ShopImg {
    float: left;
    line-height: 0;
}

#shopListWrapper .ShopImg img {
    width: 265px;
}

#shopListWrapper .shopTitle {
    float: left;
    margin-left: 20px;
    width: 775px;
}

#shopListWrapper .shopTitle h5 {
    margin-top: 10px;
    font-size: 24px;
    text-decoration: underline;
}

#shopListWrapper .shopTitle p {
    font-size: 16px;
    margin-top: 10px;
}

#shopListWrapper .shopTag a {
    width: 80px;
    display: inline-block;
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
    color: #5f5f5f;
    text-decoration: none;
    margin-right: 5px;
}

#shopListWrapper .shopTag a:first-child {
    background: #E9A7B5;
}

#shopListWrapper .shopTag a:nth-child(2) {
    background: #BBCCD3;
}

#shopListWrapper .shopTag a:nth-child(3) {
    background: #B3B3B3;
    color: #C7C7C7;
}

#shopListWrapper .shopTag a:last-child {
    background: #B7E8BB;
}

#shopListWrapper .shopLocation {
    margin-top: 50px;
}

#shopListWrapper .shopLocation i {
    display: inline-block;
    margin-right: 10px;
    background: #4d4d4d;
    width: 30px;
    height: 30px;
    line-height: 1.9em;
    text-align: center;
    color: #B3B3B3;
    border-radius: 50%
}

#shopListWrapper .shopLocation p:last-child {
    margin-top: 5px;
}

#shopListWrapper .shopList {
    overflow: hidden;
}

#shopListWrapper .shopListLeft {
    float: left;
    width: 530px;
}

#shopListWrapper .shopListRight {
    float: right;
    width: 530px;
}

#shopListWrapper .shopListTitle {
    width: 249px;
    float: left;
    margin-left: 16px;
}

#shopListWrapper .shopListTitle h5 {
    font-size: 16px;
    text-decoration: underline;
}

#shopListWrapper #shopListBox .shopListTitle p {
    font-size: 14px;
    margin-top: 5px;
}

#shopListWrapper #shopListBox .shopTag a {
    width: 70px;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    color: #5f5f5f;
    text-decoration: none;
    margin-right: 5px;
}

#shopListWrapper #shopListBox .shopTitle p {
    font-size: 14px;
    margin-top: 10px;
}

#shopListWrapper #shopListBox .shopLocation {
    margin-top: 20px;
}

#shopListWrapper #shopListBox .shopLocation p {
    font-size: 12px;
}

#shopListWrapper #shopListBox .shopLocation i {
    display: inline-block;
    margin-right: 10px;
    background: #4d4d4d;
    width: 20px;
    height: 20px;
    line-height: 1.7em;
    text-align: center;
    color: #B3B3B3;
    border-radius: 50%
}

#shopListWrapper #shopListBox .shop {
    overflow: hidden;
    display: block;
    padding: 8px 0;
    border-top: 1px dashed #4d4d4d;
}

#shopListWrapper #shopListBox .shop:last-child {
    border-bottom: 1px dashed #4d4d4d;
}

#shopListWrapper .pageGination {
    padding: 30px 0;
    text-align: center;
    width: 217px;
    margin: 0 auto;
}

#shopListWrapper .pageGination a {
    color: #000;
    font-size: 16px;
}

#shopListWrapper .pageGination a:first-child {
    text-decoration: underline;
    font-weight: bold;
    float: left;
}

#shopListWrapper .pageGination a:last-child {
    text-decoration: underline;
    font-weight: bold;
    float: right;
}

#shopListWrapper .pageGination a:nth-child(2) {
    text-decoration: none;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    background: #000;
    color: #fff;
    margin-left: 20px;
}

#shopListWrapper .pageGination a:nth-child(3) {
    text-decoration: none;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #000;
    color: #000;
    margin: 0 5px;
}

#shopListWrapper .pageGination a:nth-child(4) {
    text-decoration: none;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #000;
    color: #000;
    margin-right: 20px;
}
