@media screen and (max-width: 680px) {
    .pc {
        display: none;
    }
    .sp {
        display: block;
    }
    .contentWidth {
        max-width: 100%;
    }
    header#headerWrapper {
        display: block;
        max-width: 100%;
        padding-top: 0px;
        border-bottom: 1px solid #4d4d4d;
    }
    section,
    nav#topNavWrapper {
        width: 100%;
        margin: 0 auto;
        padding: 0px 10px;
        min-width: 320px;
        position: relative;
    }
    section#search {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        min-width: 320px;
    }
    #header {
        max-width: 100%;
    }
    /* Top Navigation
   ========================================================================== */
    ul#topNav {
        margin: 0 auto;
        text-transform: uppercase;
        max-width: 300px;
        list-style: none;
        overflow: hidden;
        line-height: 0;
        padding: 0;
    }
    ul#topNav li {
        display: block;
        float: none;
        display: inline-block;
        width: 26px;
        text-align: left;
        padding-left: 0px;
        margin: 0;
    }
    ul#topNav li a h1 {
        margin: 0 0 0 0;
    }
    ul#topNav li a {
        text-decoration: none;
        color: #4d4d4d;
        height: 60px;
        padding: 0px 0px 0px 0px;
        font-size: 12px;
        display: table;
        line-height: 1em;
    }
    ul#topNav li:nth-of-type(1) {
        padding-top: 3px;
        margin-left: 0px;
        width: 30px;
    }
    ul#topNav li:nth-of-type(2) {
        width: 50px;
        padding-left: 20px;
        padding-top: 3px;
    }
    ul#topNav li:nth-of-type(3) {
        width: 86px;
        padding-left: 25px;
        padding-top: 3px;
    }
    ul#topNav li:nth-of-type(4) {
        width: 69px;
        padding-left: 5px;
        padding-top: 3px;
    }
    ul#topNav li:nth-of-type(5) {
        width: 43px;
        padding-left: 2px;
        padding-top: 3px;
    }
    ul#topNav li a span {
        vertical-align: middle;
        display: table-cell;
    }
    ul#topNav li a img {
        display: block;
        width: 60px;
        padding-top: 8px;
    }
    /*sp Search Content*/
    .spbox {
        border: 1px solid red;
        float: right;
        display: block;
        line-height: 0;
    }
    .contentSearch {
        display: block;
        overflow: hidden;
        margin-top: 0px;
        padding-bottom: 12px;
        border-bottom: 1px solid #4d4d4d;
    }
    .searchImg01 img {
        width: 100%;
        height: 100%;
    }
    .searchImageBlock {
        float: none;
        max-width: 100%;
        height: auto;
        line-height: 0;
        margin: 0 auto;
    }
    .searchTitleBlock {
        float: none;
        max-width: 100%;
        margin-top: 36px;
        padding: 0px 10px;
    }
    .searchTitle {
        display: block;
        width: 201px;
        margin: 0 auto;
        line-height: 0;
    }
    .searchTitle img {
        width: 100%;
        margin: 0 auto;
    }
    .searchTitle h2 {
        text-align: center;
        margin: 0;
    }
    .searchTitle p,
    .recTitle p,
    .rankTitle p {
        margin-top: 8px;
        text-align: center;
        line-height: 1em;
        font-size: 14px;
        color: #4d4d4d;
        font-weight: bold;
    }
    .locationIcon,
    .recommendIcon,
    .rankingIcon {
        width: 60px;
        margin: 0 auto;
        display: block;
        line-height: 0;
        padding: 25px 0px 25px 0px;
    }
    .locationIcon img,
    .recommendIcon img,
    .rankingIcon img {
        width: 100%;
    }
    .searchOption {
        display: block;
        width: 100%;
        margin: 0 auto;
        line-height: 0;
        padding-left: 5px;
        padding-right: 2px;
        text-align: center;
        overflow: hidden;
    }
    select.selection {
        width: 32%;
        height: 29px;
        padding: 3px;
        margin-bottom: 12px;
        margin-right: 1px;
        margin-left: 2px;
        font-size: 12px;
        float: left;
    }
    .rankingOption {
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    /* contentRecommend...............*/
    .contentRecommend {
        padding-top: 12px;
        padding-bottom: 12px;
        overflow: hidden;
        display: block;
        border-bottom: 1px solid #4d4d4d;
    }
    .recommendImage {
        float: left;
        max-width: 100%;
    }
    .recImg {
        width: 85px;
        height: auto;
        display: block;
        margin-left: 0px;
        margin-bottom: 0px;
        overflow: hidden;
        line-height: 0;
        float: left;
    }
    .recImg img {
        width: 100%;
        height: 100%;
    }
    .recImg:nth-of-type(7) {
        margin-bottom: 0px;
    }
    .recImg:nth-of-type(8) {
        margin-bottom: 0px;
    }
    .recImg:nth-of-type(9) {
        margin-bottom: 0px;
    }
    .recImg img {
        line-height: 0;
    }
    .recommendTitle {
        float: none;
        max-width: 100%;
        margin-top: 36px;
        overflow: hidden;
        clear: both;
    }
    .recTitle img {
        max-width: 100%;
    }
    .recTitle {
        display: block;
        max-width: 100%;
        margin: 0 auto;
        line-height: 0;
    }
    .recSpTitle {
        text-transform: uppercase;
        width: 249px;
        margin: 0 auto;
    }
    .recSpTitle img {
        width: 100%;
    }
    .recSpTitle h2 {
        text-align: center;
        margin: 0;
    }
    .recShopList {
        width: 113px;
        margin: 0 auto;
        line-height: 0;
    }
    .recShopList img {
        width: 100%;
    }
    /*.......................*/
    .searchImageBlock {
        float: none;
        width: 100%;
        height: auto;
        line-height: 0;
        margin: 0 auto;
    }
    /*.contentRanking.............*/
    .contentRanking {
        padding: 12px 0px 12px 0px;
        border-bottom: 1px solid #4d4d4d;
        clear: both;
        overflow: hidden;
        display: block;
    }
    .rankingTitle {
        display: block;
        max-width: 100%;
        margin: 0 auto;
        padding: 2px 0px;
        line-height: 0;
        float: none;
    }
    .rankTitle h2 {
        text-align: center;
    }
    .rankTitle {
        display: block;
        width: 216.5px;
        margin: 0 auto;
        line-height: 0;
    }
    .rankTitle img {
        max-width: 100%;
        margin: 0 auto;
    }
    select.rankSelect {
        width: 32%;
        height: 29px;
        padding: 3px;
        margin-bottom: 12px;
        margin-right: 0px;
        margin-left: 0px;
        font-size: 12px;
        color: #000;
        text-align: left;
    }
    .select.rankSelect:nth-of-type(3) {
        margin-right: 0px;
    }
    .search {
        margin-top: 10px;
        margin-left: 6px;
        display: block;
    }
    #searchItem {
        max-width: 86%;
        border: 1px solid #4d4d4d;
        padding: 10px;
        overflow: hidden;
        line-height: 0;
    }
    #searchItem,
    #submit {
        float: left;
        display: inline;
        padding: 14px;
        margin: 10px auto 50px;
        font-size: 12px;
    }
    input[type="text"]#searchItem::-webkit-input-placeholder {
        padding-top: 5px;
    }
    /* ----------------------- */
    #submit {
        width: 12%;
        height: 37px;
        background: #4D4D4D;
        border: 1px solid #5F5F5F;
        padding: 0;
        float: left;
        color: #B3B3B3;
    }
    .rankingImage {
        float: right;
        width: 100%;
    }
    .rankImg img {
        width: 100%;
        height: 100%;
    }
    .rankImg {
        width: 85px;
        height: 82px;
        display: block;
        margin-left: 0px;
        margin-bottom: 0px;
        overflow: hidden;
        line-height: 0;
        float: left;
    }
    .rankImg:nth-of-type(3),
    .rankImg:nth-of-type(6) {
        margin-right: 0px;
    }
    .rankImg:nth-of-type(4),
    .rankImg:nth-of-type(5),
    .rankImg:nth-of-type(6) {
        margin-bottom: 0px;
    }
    /*..................*/
    /*contentMovie*/
    .contentMovie {
        overflow: hidden;
        display: block;
        border-bottom: 1px solid #4d4d4d;
        padding: 36px 0px 36px 0px;
        width: 100%;
    }
    .movieTitle {
        display: block;
        padding-bottom: 25px;
        width: 80%;
        margin: 0 auto;
    }
    .movieTitle img {
        width: 194px;
    }
    .movieTitle h2 {
        text-align: center;
    }
    .movieBlog {
        display: block;
        line-height: 0;
        padding: 0;
    }
    .movieBox {
        display: block;
        overflow: hidden;
        clear: both;
        margin: 0 auto;
        padding-bottom: 12px;
        line-height: 0;
        width: 100%;
        height: auto;
    }
    .movieImg {
        width: 30%;
        float: left;
        display: block;
        overflow: hidden;
    }
    .movieImg img {
        width: 100%;
        height: auto;
    }
    .movieDetail {
        float: left;
        margin-left: 0px;
        width: 69%;
        height: 57px;
        padding: 5px 10px;
        overflow: hidden;
    }
    .movieDetail h3 {
        padding-top: 10px;
        padding-bottom: 9px;
        font-size: 13px;
    }
    .movieDetail p {
        font-size: 12px;
        line-height: 1.5em;
        color: #7a7a7a;
    }
    .movieBtn {
        width: 127.5px;
        line-height: 0;
        margin: 0 auto;
    }
    .movieBtn img {
        width: 100%;
        line-height: 0;
    }
    /*...Event*/
    .eventNewsWrap {
        width: 100%;
        max-width: 100%;
    }
    .conetnEventNewsWrap {
        overflow: hidden;
        display: block;
        padding: 25px 0px 6px 0px;
    }
    .eventBlog {
        float: left;
        width: 100%;
        max-width: 100%;
        padding: 10px 0;
        margin-bottom: 12px;
    }
    .enTitle {
        line-height: 0;
        display: block;
        /*width: 57.5px;*/
        text-align: center;
        margin: 0 auto;
        margin-bottom: 12px;
        clear: both;
    }
    .eventTitle{
        width: 66px;
    }
    .newsTitle{
        width: 57.5px;
    }
    .enTitle h2 {
        text-align: center;
    }
    .enTitle p {
        line-height: 1em;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        padding-top: 16px;
    }
    .enBox {
        float: none;
        display: block;
        width: 100%;
        clear: both;
        overflow: hidden;
        margin: 0 auto;
        padding-bottom: 12px;
        padding-top: 12px;
        border-bottom: 1px dashed #4d4d4d;
    }
    .enImg {
        float: left;
        width: 30%;
        height: auto;
        display: block;
    }
    .enImg img {
        width: 100%;
        height: auto;
    }
    .enDetail {
        float: left;
        padding-left: 8px;
        width: 195px;
    }
    .enDetail h3 {
        padding-bottom: 1px;
        font-size: 13px;
    }
    .enDetail h4 {
        padding-bottom: 0px;
        font-size: 12px;
    }
    .enDetail p {
        font-size: 12px;
    }
    .newsBlog {
        float: none;
        max-width: 100%;
        padding: 10px 0;
        width: 100%;
    }
    .eventBtn {
        clear: both;
        overflow: hidden;
        line-height: 0;
        width: 108.5px;
        padding-top: 12px;
        margin: 0 auto;
        float: none;
    }
    .eventBtn img {
        width: 100%;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    
    .recSlide,
    .rankSlide {
        padding: 0 25px;
        position: relative;
    }
    .swiper-slide {
        line-height: 0;
        width: auto;
        height: auto;
    }
    .swiper-slide img {
        line-height: 0;
    }
    .recPrevious.swiper-button-prev,
    .recNext.swiper-button-next,
    .rankPrevious.swiper-button-prev,
    .rankNext.swiper-button-next {
        /*background-image: none;*/
        background-size: 24px 24px;
    }
    .rankPrevious.swiper-button-prev,
    .rankNext.swiper-button-next {
        background-image: none;
    }
    .recNext.swiper-button-next,
    .recPrevious.swiper-button-prev {
        width: 24px;
        height: 24px;
        margin-top: -12px;
        z-index: 1000;
    }
    .recNext.swiper-button-next,
    .rankNext.swiper-button-next {
        right: 0px;
        background-image: url(../images/sp/main/icon_next_01.png);
    }
    .recPrevious.swiper-button-prev,
    .rankPrevious.swiper-button-prev {
        left: 0px;
        background-image: url(../images/sp/main/icon_prev_01.png);
    }
    
    .imgslide {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0px 51px;
        overflow: hidden;
    }
    .imgslide2 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0px 39px;
        overflow: hidden;
    }
    
    .imgblock {
        width: 100%;
        margin: 0 auto;
        padding: 0px 11px;
        display: block;
    }
    .imgblock2 {
        width: 100%;
        margin: 0 auto;
        padding: 0px 11px;
    }
    /* Footer
   ========================================================================== */
    footer#footerWrapper {
        width: 100%;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
    .foot {
        max-width: 100%;
        margin: 0 auto;
        display: block;
    }
    .cbox {
        display: block;
        max-width: 100%;
        float: none;
        margin: 0 auto;
        line-height: 0;
    }
    .ftmIcon {
        width: 139px;
        float: none;
        padding: 0px 0px 80px 1px;
        margin: 0 auto;
    }
    .icon {
        width: 26px;
        height: 26px;
        text-align: center;
        border-radius: 50%;
        float: left;
        margin: 42px 5px 0px 15px;
        color: #fff;
        background: #000;
    }
    .toTopLogo {
        width: 43px;
        float: none;
        margin: 0 auto;
        line-height: 0;
    }
    .toTopLogo img {
        width: 60px;
    }
    .footer {
        background: #b3b3b3;
        padding: 5px;
        clear: both;
    }
    .contentFooter {
        overflow: hidden;
        display: block;
        width: 100%;
        padding: 18px 0px 18px 0px;
    }
    .footMenu {
        float: none;
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    ul.menuFooter {
        margin: 0 auto;
        width: 100%;
        list-style: none;
        overflow: hidden;
        line-height: 0;
        text-align: center;
    }
    ul.menuFooter li {
        display: inline-block;
        float: none;
    }
    ul.menuFooter li a {
        text-decoration: none;
        color: #000;
        padding: 0px 5px 0px 10px;
        font-size: 13px;
        line-height: 2em;
        display: inline;
    }
    .footBox {
        max-width: 322px;
        float: none;
        margin: 0 auto;
    }
    .footBox label {
        font-size: 12px;
        font-weight: 100px;
    }
    .textBox {
        width: 95px;
        border: 2px solid #fff;
        background: #b3b3b3;
        height: 25px;
        margin-left: 6px;
        margin-top: 10px;
        padding-left: 14px;
        color: #000;
    }
    .copyright {
        padding: 10px;
        overflow: hidden;
        width: 303px;
        margin: 0 auto;
    }
    .lCopyright {
        float: none;
        padding-left: none;
        margin: 0 auto;
        width: 281px;
        text-align: center;
    }
    .lCopyright p {
        width: 275px;
        margin: 0 auto;
        display: block;
    }
    .rCopyright {
        float: none;
        margin: 0 auto;
        width: 322px
    }
    .rCopyright ul {
        display: block;
    }
    .rCopyright ul li {
        float: left;
        margin-left: 15px;
        padding-left: 0px;
        margin-right: 20px;
        font-size: 13px;
    }

    /*Shoplist Page*/



    .shopWrap {
        width: 100%;
        margin: 0 auto;
        padding: 0px;
    }
    #shopListWrapper {
        max-width: 100%;
        width: 100%;
        display: block;
        position: relative;
    }
    section#recommendBox {
        padding: 0px;
    }
    section#shopListBox {
        padding: 0px;
    }
    #shopListWrapper .headShortList {
        text-align: center;
        margin: 25px auto 25px auto;
    }
    #shopListWrapper .headShortList img {
        width: 268.5px;
    }
    #shopListWrapper .headShortList h1 {
        font-size: 14px;
    }
    #shopListWrapper h2#searchShop {
        box-sizing: border-box;
        width: 100%;
        height: 35px;
        color: #000000;
        font-size: 16px;
        background: url(../images/pc/shoplist/search.png) no-repeat #c2c2c2;
        background-size: 50px;
        padding: 8px 0 0 70px;
        background-position: 10px 0;
    }
    #shopListWrapper h2#recommendShop {
        box-sizing: border-box;
        width: 100%;
        height: 35px;
        color: #000000;
        font-size: 16px;
        background: url(../images/pc/shoplist/recommend.png) no-repeat #c2c2c2;
        background-size: 50px;
        padding: 8px 0 0 70px;
        background-position: 10px 0;
    }
    #shopListWrapper h2#shopList {
        box-sizing: border-box;
        width: 100%;
        height: 35px;
        color: #000000;
        font-size: 16px;
        background: #c2c2c2;
        padding: 8px 0 0 20px;
        background-position: 10px 0;
    }
    #shopListWrapper section#searchBox {
        width: 95%;
        margin: 0px auto 50px auto;
        padding: 0 10px;
        overflow: hidden;
        box-sizing: border-box;
    }
    #shopListWrapper #searchBox article.searchLeft {
        float: none;
        width: 100%;
    }
    #shopListWrapper h4 {
        font-weight: bold;
        font-size: 16px;
        margin: 20px 0 15px 0;
        text-align: center;
    }
    #shopListWrapper .searchDropdown {
        margin-top: 8px;
        text-align: center;
    }
    #shopListWrapper .searchDropdown span {
        display: block;
    }
    #shopListWrapper .searchLeft select {
        width: 100%;
        height: 30px;
        margin-right: 10px;
    }
    #shopListWrapper .searchLeft input[type="text"] {
        width: 95%;
        height: 30px;
        margin-left: 0px;
    }
    #shopListWrapper .searchLeft input[type="radio"] {
        border: 0px;
        width: 18px;
        height: 18px;
        background: none;
    }
    #shopListWrapper .searchRadio {
        margin-top: 15px;
        font-size: 14px;
    }
    #shopListWrapper .searchRadio input:first-child {
        width: 6%;
        text-align: left;
    }
    #shopListWrapper .searchRadio input:nth-child(3) {
        width: 6%;
        margin: 0;
    }
    #shopListWrapper .searchRadio input:nth-child(5) {
        width: 6%;
        margin: 0;
    }
    #shopListWrapper .searchRadio input:nth-child(7) {
        width: 6%;
        margin: 0;
    }
    #shopListWrapper .searchRadio input:last-child {
        width: 6%;
    }
    #shopListWrapper #searchBox article.searchRight {
        float: none;
        width: 100%;
    }
    #shopListWrapper form.leftSearchBtn {
        margin: 15px auto 0 auto;
        overflow: hidden;
        width: 320px;
    }
    #shopListWrapper form.leftSearchBtn i {
        color: #B3B3B3;
    }
    #shopListWrapper form.leftSearchBtn input[type="text"] {
        width: 80%;
        height: 30px;
        border: 1px solid #5F5F5F;
        float: left;
        margin-left: 0;
    }
    #shopListWrapper form.leftSearchBtn button {
        width: 10%;
        height: 30px;
        background: #4D4D4D;
        border: 1px solid #5F5F5F;
        padding: 0;
        float: left;
    }
    #shopListWrapper .searchSite {
        text-align: center;
    }
    #shopListWrapper .searchSite a {
        width: 115px;
        display: inline-block;
        padding: 10px;
        background: #4D4D4D;
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        margin-right: 0;
        border-top: 1px solid #5f5f5f;
        border-bottom: 1px solid #5f5f5f;
    }
    #shopListWrapper .searchSite a:nth-child(3) {
        margin-right: 0px;
    }
    #shopListWrapper .searchSite a:last-child {
        margin-top: 5px;
    }
    #shopListWrapper .rcmShop {
        margin: 20px auto 50px auto;
    }
    #shopListWrapper .ShopImg {
        float: none;
        line-height: 0;
        text-align: center;
    }
    #shopListWrapper .ShopImg img {
        width: 134.5px;
    }
    #shopListWrapper .shopTitle {
        float: none;
        margin: 0 auto;
        width: 95%;
        text-align: center;
    }
    #shopListWrapper .shopTitle h5 {
        margin-top: 10px;
        font-size: 18px;
        text-decoration: underline;
    }
    #shopListWrapper .shopTitle p {
        font-size: 14px;
        margin-top: 5px;
    }
    #shopListWrapper .shopTag a {
        width: 80px;
        display: inline-block;
        text-align: center;
        margin-top: 8px;
        font-size: 12px;
        color: #5f5f5f;
        text-decoration: none;
        margin-right: 5px;
    }
    #shopListWrapper .shopTag a:first-child {
        background: #E9A7B5;
    }
    #shopListWrapper .shopTag a:nth-child(2) {
        background: #BBCCD3;
    }
    #shopListWrapper .shopTag a:nth-child(3) {
        background: #B3B3B3;
        color: #C7C7C7;
    }
    #shopListWrapper .shopTag a:last-child {
        background: #B7E8BB;
    }
    #shopListWrapper .shopLocation {
        margin-top: 13px;
    }
    #shopListWrapper .shopLocation p {
        text-align: left;
    }
    #shopListWrapper .shopLocation i {
        display: inline-block;
        margin-right: 10px;
        background: #4d4d4d;
        width: 20px;
        height: 20px;
        line-height: 1.5em;
        text-align: center;
        color: #B3B3B3;
        border-radius: 50%
    }
    #shopListWrapper .shopLocation p:last-child {
        margin-top: 5px;
    }
    #shopListWrapper .shopList {
        overflow: hidden;
    }
    #shopListWrapper .shopListLeft {
        float: none;
        width: 100%;
    }
    #shopListWrapper .shopListRight {
        float: none;
        width: 100%;
    }
    #shopListWrapper .shopListTitle {
        width: 95%;
        float: none;
        margin: 10px auto 0 auto;
    }
    #shopListWrapper .shopListTitle h5 {
        font-size: 16px;
        text-align: center;
        text-decoration: underline;
    }
    #shopListWrapper #shopListBox .shopListTitle p {
        font-size: 14px;
        margin-top: 5px;
        text-align: center;
    }
    #shopListWrapper #shopListBox .shopTag {
        text-align: center;
    }
    #shopListWrapper #shopListBox .shopTag a {
        width: 70px;
        display: inline-block;
        text-align: center;
        margin-top: 10px;
        font-size: 12px;
        color: #5f5f5f;
        text-decoration: none;
        margin-right: 5px;
    }
    #shopListWrapper #shopListBox .shopTitle p {
        font-size: 14px;
        margin-top: 10px;
    }
    #shopListWrapper #shopListBox .shopLocation {
        margin-top: 10px;
    }
    #shopListWrapper #shopListBox .shopLocation p {
        font-size: 12px;
        text-align: left;
    }
    #shopListWrapper #shopListBox .shopLocation i {
        display: inline-block;
        margin-right: 10px;
        background: #4d4d4d;
        width: 20px;
        height: 20px;
        line-height: 1.7em;
        text-align: center;
        color: #B3B3B3;
        border-radius: 50%
    }
    #shopListWrapper #shopListBox .shop {
        overflow: hidden;
        display: block;
        padding: 8px 0;
        border-top: 1px dashed #4d4d4d;
    }
    #shopListWrapper #shopListBox .shop:last-child {
        border-bottom: 1px dashed #4d4d4d;
    }
    #shopListWrapper .pageGination {
        padding: 30px 0;
        text-align: center;
        width: 68%;
        margin: 0 auto;
    }
    #shopListWrapper .pageGination a {
        color: #000;
        font-size: 16px;
    }
    #shopListWrapper .pageGination a:first-child {
        text-decoration: underline;
        font-weight: bold;
        float: left;
    }
    #shopListWrapper .pageGination a:last-child {
        text-decoration: underline;
        font-weight: bold;
        float: right;
    }
    #shopListWrapper .pageGination a:nth-child(2) {
        text-decoration: none;
        display: inline-block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        text-align: center;
        background: #000;
        color: #fff;
        margin-left: 20px;
    }
    #shopListWrapper .pageGination a:nth-child(3) {
        text-decoration: none;
        display: inline-block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        text-align: center;
        border: 1px solid #000;
        color: #000;
        margin: 0 5px;
    }
    #shopListWrapper .pageGination a:nth-child(4) {
        text-decoration: none;
        display: inline-block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        text-align: center;
        border: 1px solid #000;
        color: #000;
        margin-right: 20px;
    }
}
